In [5]:
import pandas as pd

In [6]:
#Import Horse Data

#Importing horse data from a comma delimited file
#horseData = pd.read_csv("Horse data_Helena.csv")
#horseData

#Importing horse data from a tab delimited file
horseData = pd.read_csv("Horse data_Helena.txt", sep='\t', engine = 'python')
horseData

,institutionCode,collectionCode,specimenID,specimenType,side,aggregated data,scientificName,decimalLatitude,decimalLongitude,precision,...,ContextName,CulturalStratigraphy: cultural region,CulturalStratigraphy: culture,CulturalStratigraphy: occupation period (aka chronology),CulturalStratigraphy: local chronology,Unnamed: 36,Unnamed: 37,collection event = locality & collection date,way to separate paleo from modern?,references
0,Museum of the city of Las Flores,Col. HGC,5,P2,right,NaN,Equus neogeus,35S,58W,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Prado J.L., Alberdi M.T., Bonini R., and Crisp..."
1,Museum of the city of Las Flores,Col. HGC,5,P2,right,NaN,Equus neogeus,35S,58W,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Prado J.L., Alberdi M.T., Bonini R., and Crisp..."
2,Museum of the city of Las Flores,Col. HGC,5,P2,right,NaN,Equus neogeus,35S,58W,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Prado J.L., Alberdi M.T., Bonini R., and Crisp..."
3,Museum of the city of Las Flores,Col. HGC,5,P2,right,NaN,Equus neogeus,35S,58W,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Prado J.L., Alberdi M.T., Bonini R., and Crisp..."
4,Museum of the city of Las Flores,Col. HGC,5,P3,right,NaN,Equus neogeus,35S,58W,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Prado J.L., Alberdi M.T., Bonini R., and Crisp..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3140,CMH,MgVo-3,85-90,m3,right,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Barron-Ortiz C. I., Rodrigues A. T., Theodor J..."
3141,CMH,MgVo-3,85-70,m3,average left and right,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Barron-Ortiz C. I., Rodrigues A. T., Theodor J..."
3142,CMH,MgVo-3,85-70,m3,average left and right,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Barron-Ortiz C. I., Rodrigues A. T., Theodor J..."
3143,CMH,MgVo-2,C3(E)-3-2,m3,average left and right,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Barron-Ortiz C. I., Rodrigues A. T., Theodor J..."
3144,CMH,MgVo-2,C3(E)-3-2,m3,average left and right,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Barron-Ortiz C. I., Rodrigues A. T., Theodor J..."

In [7]:
#Rearrange columns so that template columns are first, followed by measurement values

#Create column list
cols = horseData.columns.tolist()

#Specify desired columns
cols = ['institutionCode',
        'collectionCode',
        'specimenID',
        'specimenType',
        'side',
        'scientificName',
        'decimalLatitude',
        'decimalLongitude',
        'sitename',
        'verbatimLocality',
        'basisOfRecord',
        'measurementType',
        'measurementValue',
        'measurementUnit',
        'lithostratigraphicTerms',
        'formation',
        'member',
        'references'
       ]

#Subset dataframe
horseData = horseData[cols]

In [8]:
#Matching template and column terms

#Renaming columns 
horseData = horseData.rename(columns = {'specimenID':'catalogNumber',
                                        'specimenType':'skeletalElement',
                                        'side':'measurementSide',
                                        'sitename':'locality'})

In [9]:
#Matching trait and ontology terms

#Renaming columns
#horseData = horseData.rename(columns={})

#NOTE: No trait data renamed. See measurementType in csv file

In [10]:
#create long version so that each trait has its own row

#creating long version, first specifiying keep variables, then naming variable and value
longVers=pd.melt(horseData, 
                id_vars=['institutionCode',
                         'collectionCode',
                         'catalogNumber',
                         'skeletalElement',
                         'measurementSide',
                         'scientificName',
                         'decimalLatitude',
                         'decimalLongitude',
                         'locality',
                         'verbatimLocality',
                         'basisOfRecord',
                         'measurementType',
                         'measurementValue',
                         'measurementUnit',
                         'lithostratigraphicTerms',
                         'formation',
                         'member',
                         'references'], 
                var_name = 'trait', 
                value_name = 'measurement')

#Writing long data csv file
longVers.to_csv('Horse_Data_Long.csv');

#Writing long data tab delimited file
#longVers.to_csv('Horse_Data_Long.txt', sep='\t')