Data Wrangling Notebook for JArroyo-Cabrales data 
<br />
Neeka Sewnath
<br />
nsewnath@ufl.edu

In [13]:
import pandas as pd
import numpy as np
import uuid

Silence unnecessary errors

In [14]:
try:
    import warnings
    warnings.filterwarnings('ignore')
except:
    pass

Import Alberdi Appendix 1 and 2

In [15]:
#Appendix 1
#data1 = pd.read_csv("../Original_Data/Alberdi-Appendix01-RMCG-TO.csv")

#Appendix 2
data = pd.read_csv("../Original_Data/Alberdi-Appendix02-RMCG-TO.csv")

Working with appendix 2 because it has avaliable traits

In [20]:
#TODO: separate dataframe into multiple dataframes within a single csv file

#modified the csv file by removing metadata at the beginning and creating a new column and transfering over trait 
#name to the same row of that first column. 

df_humerus = data[0:16]

In [17]:
df_humerus

,humerus,id,size,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,DP-4625i,LS,288,280,43,51,NaN,96,85,92,58,42,52,NaN,NaN,NaN,NaN,NaN
1,NaN,DP-4622d,LS,NaN,NaN,NaN,NaN,NaN,NaN,82,87,53,39,48,NaN,NaN,NaN,NaN,NaN
2,NaN,DP-4624d,LS,NaN,NaN,NaN,52,NaN,NaN,83,91,58,40,50,NaN,NaN,NaN,NaN,NaN
3,NaN,DP-4623i,LS,NaN,NaN,43,56,NaN,NaN,81,90,60,40,48,NaN,NaN,NaN,NaN,NaN
4,NaN,DP-4620i,LS,NaN,NaN,41.5,52,NaN,NaN,80,94,60,40,50,NaN,NaN,NaN,NaN,NaN
5,NaN,DP-4621d,LS,NaN,NaN,NaN,NaN,NaN,NaN,84,NaN,62.5,40.2,47,NaN,NaN,NaN,NaN,NaN
6,NaN,DP-3938,LS,NaN,NaN,43,54,NaN,NaN,87,99,66,44,53,NaN,NaN,NaN,NaN,NaN
7,NaN,DP-3941,LS,NaN,NaN,50,60,NaN,NaN,92,103,66,44,53,NaN,NaN,NaN,NaN,NaN
8,NaN,DP-3937,LS,NaN,NaN,NaN,NaN,NaN,NaN,82,86,59.5,39,49,NaN,NaN,NaN,NaN,NaN
9,NaN,DP-3940,LS,NaN,NaN,41,54,NaN,NaN,83,88,57,38,48,NaN,NaN,NaN,NaN,NaN
10,NaN,DP-3939,LS,292,284,40.5,51,100,117,79.5,NaN,57,40,48.5,NaN,NaN,NaN,NaN,NaN
11,NaN,DP-2829,SS,NaN,NaN,NaN,NaN,NaN,NaN,57,52,38.7,28,33,NaN,NaN,NaN,NaN,NaN
12,NaN,DP-2842i,LS,NaN,NaN,NaN,NaN,NaN,NaN,86.5,89,58,40.5,50,NaN,NaN,NaN,NaN,NaN
13,NaN,DP-2907i,SS,NaN,NaN,NaN,NaN,NaN,NaN,58,65,39.1,28.4,34.7,NaN,NaN,NaN,NaN,NaN
14,NaN,DP-5003i,LS,NaN,NaN,NaN,NaN,NaN,NaN,85,94,58,43,51.5,NaN,NaN,NaN,NaN,NaN
15,NaN,DP-5244d,LS,NaN,NaN,47,58.5,NaN,NaN,92.6,99.3,63.3,42.7,53,NaN,NaN,NaN,NaN,NaN

Set samplingProtocol and measurementMethod

In [4]:
citation = "Alberdi, M.T., Arroyo-Cabrales, J., Marín-Leyva, A.H., Polaco, O.J., 2014, Study of Cedral Horses and their place in the Mexican Quaternary: Revista Mexicana de Ciencias Geológicas, v. 31, núm. 2, p. 221-237"

data = data.assign(samplingProtocol = citation, measurementMethod = citation)

Adding additional required GEOME columns (Confirm country)

In [5]:
data = data.assign(country = "Mexico", yearCollected = "Unknown", locality = "Unknown", basisOfRecord = "FossilSpecimen")