In [7]:
import pandas as pd

In [35]:
#Import Deer VertNet Data
deer = pd.read_csv("https://de.cyverse.org/dl/d/126821C9-D23A-4B22-9B3F-25F19311066E/ODOVIRGCLEAN.csv")

In [36]:
#Rearrange columns so that template columns are first, followed by measurement values

#Create column list
cols = deer.columns.tolist()

#Specify desired columns
cols = ['catalognumber',
        'collectioncode',
        'decimallatitude',
        'decimallongitude',
        'eventdate',
        'institutioncode',
        'lifestage',
        'locality',
        'sex',
        'scientificname',
        '1st_body_mass',
        '1st_ear_length',
        '1st_hind_foot_length',
        '1st_tail_length',
        '1st_total_length']

#Subset dataframe
deer=deer[cols]

In [42]:
#Matching template and column terms

#Renaming columns 
deer = deer.rename(columns={'catalognumber':'catalogNumber', 
                            'collectioncode':'collectionCode',
                            'decimallatitude':'decimalLatitude',
                            'decimallongitude':'decimalLongitude',
                            'eventdate':'verbatimEventDate',
                            'institutioncode' :'institutionCode',
                            'lifestage':'lifeStage',
                            'locality':'verbatimLocality',
                            'scientificname':'scientificName'})

In [44]:
#Matching trait and ontology terms

#Renaming columns
deer = deer.rename(columns={'1st_body_mass':'body mass',
                            '1st_ear_length': 'ear length',
                            '1st_hind_foot_length':'hind foot length',
                            '1st_tail_length':'tail length',
                            '1st_total_length':'full body length'})
deer

,catalogNumber,collectionCode,decimalLatitude,decimalLongitude,verbatimEventDate,institutionCode,lifeStage,verbatimLocality,sex,scientificName,body mass,ear length,hind foot length,tail length,full body length
0,18192,Mammals,17.765560,-64.881668,8/3/72,TTU,NaN,CALIDONIA ESTATE,male,Odocoileus virginianus,9979.0,102.0,275.0,102.0,813.0
1,UAZ 24592,Mammals,31.392203,-110.702582,11/20/81,UAZ,NaN,"T23S, R16E, ~1 mi. NW Washington Camp on Duque...",female,Odocoileus virginianus,8500.0,120.0,225.0,147.0,835.0
2,18217,Mammals,18.000000,-64.666672,5/5/72,TTU,NaN,NaN,female,Odocoileus virginianus,9979.0,102.0,279.0,102.0,838.0
3,32127,Mammal specimens,46.247500,-123.412500,1979,UWBM,NaN,Columbian White-tailed Deer Refuge,male,Odocoileus virginianus,5100.0,90.0,300.0,140.0,850.0
4,50139,Mammals,NaN,NaN,2009,OMNH,Juvenile,NaN,female,Odocoileus virginianus,5880.0,100.0,285.0,150.0,858.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
#create long version so that each trait has its own row

#creating long version, first specifiying keep variables, then naming variable and value
pd.melt(deer, 
        id_vars=['catalogNumber', 
                'collectionCode',
                'decimalLatitude',
                'decimalLongitude', 
                'verbatimEventDate', 
                'institutionCode',
                'lifeStage',
                'verbatimLocality',
                'sex',
                'scientificName'], 
        var_name = 'trait', 
        value_name = 'measurement')

,catalogNumber,collectionCode,decimalLatitude,decimalLongitude,verbatimEventDate,institutionCode,lifeStage,verbatimLocality,sex,scientificName,trait,measurement
0,18192,Mammals,17.765560,-64.881668,8/3/72,TTU,NaN,CALIDONIA ESTATE,male,Odocoileus virginianus,body mass,9979.0
1,UAZ 24592,Mammals,31.392203,-110.702582,11/20/81,UAZ,NaN,"T23S, R16E, ~1 mi. NW Washington Camp on Duque...",female,Odocoileus virginianus,body mass,8500.0
2,18217,Mammals,18.000000,-64.666672,5/5/72,TTU,NaN,NaN,female,Odocoileus virginianus,body mass,9979.0
3,32127,Mammal specimens,46.247500,-123.412500,1979,UWBM,NaN,Columbian White-tailed Deer Refuge,male,Odocoileus virginianus,body mass,5100.0
4,50139,Mammals,NaN,NaN,2009,OMNH,Juvenile,NaN,female,Odocoileus virginianus,body mass,5880.0
...,...,...,...,...,...,...,...,...,...,...,...,...
84515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full body length,NaN
84516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full body length,NaN
84517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full body length,NaN
84518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full body length,NaN
84519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full body length,NaN